.sixthSectionCard {
    width: 360px;
    height: 200px;
    display: flex;
    gap: 16px;
    padding: 16px;
    overflow: hidden;
    transition: .3s;

    p {
        color: #000;
    }
    img {
        transition: .5s;
    }
}

.sixthSectionCardContent {
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: .5s;
}

.sixthSectionCardName {
    font-family: 'Montserrat';
    font-weight: 500;
}

.sixthSectionCardDesc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
}

.sixthSectionCardInfo {
    display: flex;
    align-items: center;
    padding: 2px 0;

    svg {
        font-size: 12px;

        path {
            color: #9B3FAA;
        }
    }

    p {
        font-size: 10px;
    font-family: 'Montserrat';

        &:nth-child(6) {
            margin: 0 8px;
        }

        &:nth-child(7) {
            margin: 0 8px;
            border-radius: 4px;
            padding: 4px;
            border: 1px solid #000;
            font-weight: 600;
        }
    }
}

.sixthSectionCardOpinion {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
}
