nav {
  background-color: #5A189A;
  height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  border-radius: 24px;
  width: 95%;
  position: fixed;
  z-index: 100;
  justify-self: center;
  top: 40px;
}
nav div {
  display: flex;
  gap: 64px;
  justify-content: center;
}
nav div a {
  font-size: 20px;
}

nav > a {
  width: 200px;
}

#footer {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 32px;
  padding: 64px;
}
#footer article {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 32px;
}
#footer article h3 {
  font-size: 48px;
}
#footer article:nth-child(1) {
  background: linear-gradient(180deg, #F8773D 54.95%, #D1612F 110.66%);
  grid-column: 1/2;
  height: 305px;
}
#footer article:nth-child(1) p:last-child {
  display: flex;
  gap: 24px;
}
#footer article:nth-child(1) p:last-child a {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 8px;
}
#footer article:nth-child(1) p:last-child a path {
  color: #C6EF4C;
}
#footer article:nth-child(1) p:last-child a:nth-child(2) {
  opacity: 0.5;
  cursor: default;
}
#footer article:nth-child(2) {
  background-color: #C6EF4C;
  grid-column: 1/2;
  height: 305px;
}
#footer article:nth-child(3) {
  background: linear-gradient(180deg, #0084FA 0%, #0155A0 100%);
  grid-column: 2/3;
  grid-row: 1/3;
  justify-content: space-between;
}
#footer article:nth-child(3) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
#footer article:nth-child(3) div div {
  flex-direction: row;
  gap: 16px;
  font-size: 48px;
  color: #fff;
}
#footer article:nth-child(3) div p {
  text-align: center;
  line-height: 1.5;
}
#footer article:nth-child(3) a {
  width: 100%;
}
#footer article:nth-child(4) {
  grid-column: 1/3;
  height: 180px;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 128px;
  overflow: hidden;
}
#footer article:nth-child(4) p {
  color: #000;
  font-weight: 600;
}
#footer article:nth-child(4) img {
  width: 140vw;
  height: auto;
  position: absolute;
  z-index: -1;
  right: -40%;
  bottom: -400%;
  animation: rotate360 20s linear infinite;
  transform-origin: center center;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#footerMini {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 64px;
  width: 100%;
}
#footerMini article {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 32px;
}
#footerMini article h3 {
  font-size: 48px;
}
#footerMini article:nth-child(1) {
  background: linear-gradient(180deg, #F8773D 54.95%, #D1612F 110.66%);
  height: 240px;
}
#footerMini article:nth-child(1) p:last-child {
  display: flex;
  gap: 24px;
}
#footerMini article:nth-child(1) p:last-child a {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 8px;
}
#footerMini article:nth-child(1) p:last-child a path {
  color: #C6EF4C;
}
#footerMini article:nth-child(1) p:last-child a:nth-child(2) {
  opacity: 0.5;
  cursor: default;
}
#footerMini article:nth-child(2) {
  background: linear-gradient(180deg, #0084FA 0%, #0155A0 100%);
  width: 63%;
  height: 240px;
  padding: 48px;
  gap: 0;
  justify-content: space-between;
}
#footerMini article:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 24px;
}
#footerMini article:nth-child(2) div a {
  font-size: 48px;
}
#footerMini article:nth-child(2) #consultaButton {
  width: 400px;
  font-size: 20px;
}
#footerMini article:nth-child(3) {
  height: 180px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 64px 128px;
  overflow: hidden;
}
#footerMini article:nth-child(3) p {
  color: #000;
  font-weight: 600;
}
#footerMini article:nth-child(3) img {
  width: 140vw;
  height: auto;
  position: absolute;
  z-index: -1;
  right: -40%;
  bottom: -400%;
  animation: rotate360 20s linear infinite;
  transform-origin: center center;
}

#salaComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#salaComponentSecondSection {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#salaComponentSecondSection article {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #00E1A6;
  border-radius: 24px;
  padding: 4% 5%;
}
#salaComponentSecondSection article div {
  display: flex;
  flex-direction: column;
}
#salaComponentSecondSection article div p {
  font-size: 24px;
  color: #000;
}
#salaComponentSecondSection article div:first-child {
  gap: 32px;
  width: 100%;
}
#salaComponentSecondSection article div:first-child h3 {
  font-size: 48px;
  color: #000;
}
#salaComponentSecondSection article div:first-child p {
  width: 70%;
}
#salaComponentSecondSection article div:last-child {
  background-color: #C6EF4C;
  gap: 24px;
  border-radius: 24px;
  width: fit-content;
  align-items: end;
  padding: 24px;
}
#salaComponentSecondSection article div:last-child span {
  display: flex;
  gap: 8px;
  font-size: 24px;
}
#salaComponentSecondSection article div:last-child span path {
  fill: #000;
}
#salaComponentSecondSection article div:last-child p {
  text-align: center;
}

#salaComponentThirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 80px;
  gap: 64px;
}
#salaComponentThirdSection h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 48px;
}
#salaComponentThirdSection h2 span {
  font-size: 96px;
}
#salaComponentThirdSection article {
  width: 100%;
  height: 712px;
  display: flex;
  gap: 64px;
}
#salaComponentThirdSection article img {
  border-radius: 24px;
}
#salaComponentThirdSection article #imagenPrincipal {
  flex: 1;
  min-width: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#salaComponentThirdSection article div {
  width: 208px;
  height: auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
#salaComponentThirdSection article div img {
  height: 130px;
  width: 208px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

#homeHeader {
  background-image: url("/home/header.png"), radial-gradient(rgba(0, 0, 0, 0), #0A001A);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  align-items: flex-end;
  gap: 64px;
  padding: 64px;
}
#homeHeader h1 {
  font-size: 64px;
  opacity: 0;
  position: absolute;
}
#homeHeader #homeHeaderImg {
  min-width: 0;
  width: 100%;
  height: auto;
}
#homeHeader div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
  margin-bottom: 25px;
  width: max-content;
}
#homeHeader div p:first-child {
  font-size: 40px;
  font-weight: 700;
}
#homeHeader div p:last-child {
  font-size: 14px;
}
#homeHeader div a {
  width: 400px;
}

#homeSecondSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  gap: 24px;
}
#homeSecondSection article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homeSecondSection article h3 {
  font-size: 96px;
  color: #0A001A;
  transition: 0.5s ease-in-out;
}
#homeSecondSection article p {
  color: #0A001A;
  font-size: 36px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
#homeSecondSection div {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 430px;
  transition: 1s ease-in-out;
}

#homeSecondSectionCard1 {
  overflow: hidden;
  height: 424px;
  width: 320px;
  border-radius: 24px;
  padding: 40px;
}
#homeSecondSectionCard1 svg {
  position: absolute;
  z-index: -1;
  transition: 1s ease-in-out;
}
#homeSecondSectionCard1 img {
  width: 100%;
  height: auto;
}

#homeSecondSectionCard2 {
  background-color: #C6EF4C;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  transition: 1s ease-in-out;
}

#homeSecondSectionCard3 {
  height: 200px;
  width: 200px;
  background-color: #0084FA;
  border-radius: 24px;
}

#homeSecondSectionCard4 {
  height: 200px;
  width: 200px;
  background-color: #FFB9F4;
  border-radius: 100px;
}

#homeSecondSectionCard5 {
  height: 200px;
  width: 200px;
  background-color: #00E1A6;
  transition: 1s ease-in-out;
}

#homeThirdSection {
  width: 100%;
  height: auto;
  padding: 64px;
}
#homeThirdSection div {
  padding: 128px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  gap: 16px;
}
#homeThirdSection img {
  position: absolute;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
#homeThirdSection img:nth-child(1) {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.5);
}
#homeThirdSection img:nth-child(2) {
  width: 800px;
  height: auto;
  filter: brightness(0.5);
  left: -100;
  top: -30vh;
}
#homeThirdSection h3 {
  font-size: 48px;
}
#homeThirdSection h2 {
  font-size: 96px;
  color: #C6EF4C;
}

#homeFourthSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  gap: 32px;
}
#homeFourthSection h2 {
  text-align: center;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
#homeFourthSection h2 span {
  font-size: 96px;
  font-family: inherit;
}
#homeFourthSection div {
  height: 100%;
  width: 100%;
}
#homeFourthSection div article {
  max-width: 420px;
  overflow: hidden;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#homeFourthSection div article svg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: auto;
}
#homeFourthSection div article img {
  border-radius: 24px;
  width: 100%;
  height: 50%;
}
#homeFourthSection div article div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
#homeFourthSection div article div h3 {
  color: #0A001A;
  font-size: 32px;
  text-align: center;
  line-height: 1.1;
}
#homeFourthSection div article div p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#homeFourthSection div article div p span {
  background-color: #fff;
  color: #0A001A;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1px;
}
#homeFourthSection div article div p span svg {
  position: relative;
  z-index: 1;
}
#homeFourthSection div article div a {
  background-color: #0A001A;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

#homeFourthSection > p {
  margin-bottom: 32px;
}

#homeFourthSection > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#homeFourthSection > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 200px;
  font-size: 20px;
  margin-top: 32px;
}

#homeFifthSection {
  padding: 64px;
}
#homeFifthSection article {
  height: 65vh;
  width: 100%;
  border-radius: 24px;
  padding: 0 128px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 20vh;
}
#homeFifthSection article:not(:last-child) {
  margin-bottom: 32px;
}
#homeFifthSection article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
#homeFifthSection article div h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  gap: 16px;
}
#homeFifthSection article div h3 span {
  font-size: 96px;
  font-family: inherit;
}
#homeFifthSection article div p {
  text-align: center;
}
#homeFifthSection article div a {
  background-color: #F8773D;
  width: 400px;
  padding: 16px;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
}
#homeFifthSection article:nth-child(1) {
  background: linear-gradient(180deg, #0084FA 0%, #0264BC 100%);
  z-index: 1;
}
#homeFifthSection article:nth-child(2) {
  background: linear-gradient(180deg, #5A189A 0%, #461475 100%);
  flex-direction: row-reverse;
  top: 30vh;
  z-index: 2;
}
#homeFifthSection article:nth-child(3) {
  background: linear-gradient(180deg, #00E1A6 0%, #03A177 100%);
  top: 40vh;
  z-index: 3;
}

#homeSeventhSection {
  background-color: lightblue;
  width: 100%;
  height: 232px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 64px 0;
}
#homeSeventhSection p {
  text-transform: uppercase;
  font-size: 148px;
  color: #0A001A;
  text-wrap: nowrap;
  font-family: "Vastago Grotesk";
  display: inline-flex;
  align-items: center;
  width: max-content;
  padding-right: 48px;
  animation: homeSeventhSectionMarquee 15s linear infinite;
}
#homeSeventhSection p::after {
  content: attr(data-text);
  padding-left: 48px;
}

@keyframes homeSeventhSectionMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#homeEigthSection {
  width: 100%;
  padding: 80px 160px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}
#homeEigthSection div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}
#homeEigthSection div h3 {
  font-size: 48px;
}
#homeEigthSection div article {
  height: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#homeEigthSection div article:hover {
  height: 66px;
}
#homeEigthSection div article p:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
#homeEigthSection div article p:nth-child(2) {
  width: 45%;
}
#homeEigthSection div a {
  background-color: #00E1A6;
  color: #0A001A;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  padding: 20px 0;
  text-align: center;
  border-radius: 40px;
}
#homeEigthSection div > p {
  font-size: 20px;
}
#homeEigthSection #homeEigthSectionClock {
  position: absolute;
  left: 50%;
  transition: 1.5s ease-in-out;
}

#sedesHeaderSetion {
  height: 165vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#sedesHeaderSetion div {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100vh;
  border-radius: 0 0 80px 80px;
}
#sedesHeaderSetion div h1 {
  color: #0A001A;
  font-size: 64px;
  text-align: center;
}
#sedesHeaderSetion div p {
  color: #0A001A;
  font-weight: 500;
}
#sedesHeaderSetion div a {
  width: 400px;
}
#sedesHeaderSetion article {
  background-color: green;
  width: 80%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  border-radius: 40px;
}

#sedesSecondSetion {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
  gap: 128px;
}
#sedesSecondSetion h2 {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  text-align: center;
  gap: 16px;
}
#sedesSecondSetion h2 span {
  font-size: 96px;
  font-family: inherit;
}
#sedesSecondSetion div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 80px;
  padding: 0px 80px;
}
#sedesSecondSetion div article {
  height: 800px;
  width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 24px;
}
#sedesSecondSetion div article img {
  position: absolute;
}
#sedesSecondSetion div article:nth-child(1) {
  padding: 32px 0;
  background-color: rgba(0, 225, 165, 0.8235294118);
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sedesSecondSetion div article:nth-child(1) img {
  top: 40px;
  left: 40px;
  filter: brightness(0.7);
}
#sedesSecondSetion div article:nth-child(1) h3 {
  font-size: 48px;
  text-align: center;
  margin-top: auto;
}
#sedesSecondSetion div article:nth-child(1) h3 span {
  font-size: 96px;
  font-family: inherit;
}
#sedesSecondSetion div article:nth-child(1) a {
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
#sedesSecondSetion div article:nth-child(2) {
  background-color: rgba(255, 185, 244, 0.6862745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sedesSecondSetion div article:nth-child(2) img {
  position: absolute;
  left: 40px;
  filter: brightness(0.7);
}
#sedesSecondSetion div article:nth-child(2) h3 {
  margin-top: 128px;
  margin-left: 0px;
  color: #C6EF4C;
  font-size: 128px;
  display: flex;
  flex-direction: column;
}
#sedesSecondSetion div article:nth-child(2) h3 span {
  color: #fff;
  font-size: 48px;
}
#sedesSecondSetion div article:nth-child(2) p {
  padding: 16px 0;
  width: 200px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  background-color: #0A001A;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: default;
  margin-bottom: 32px;
}

#recoletaHeader {
  height: 100vh;
  padding: 128px 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0px;
}
#recoletaHeader h1 {
  font-size: 96px;
}
#recoletaHeader h2 {
  font-size: 64px;
  margin-bottom: 24px;
}
#recoletaHeader p {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
#recoletaHeader p path {
  color: #FF9869;
}
#recoletaHeader a {
  width: 400px;
}
#recoletaHeader div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  width: 55%;
  height: 60%;
  border-radius: 0 0 0 80px;
}
#recoletaHeader img {
  position: absolute;
  width: 45%;
  height: auto;
  right: 0;
  border-radius: 24px 0 0 24px;
}

#recoletaSecondSetion {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#recoletaSecondSetion article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: 1s ease-in-out;
}
#recoletaSecondSetion article h3 {
  font-size: 36px;
  text-align: center;
  transition: 1s ease-in-out;
}
#recoletaSecondSetion article p {
  text-align: center;
  transition: 1s ease-in-out;
  line-height: 1.4;
}
#recoletaSecondSetion article:nth-child(1) {
  background-color: #F8773D;
  border-radius: 106px;
  height: 211px;
}
#recoletaSecondSetion article:nth-child(2) {
  background-color: #0084FA;
}
#recoletaSecondSetion article:nth-child(3) {
  background-color: #9B3FAA;
  border-radius: 24px;
  height: 211px;
}

#recoletaThirdSetion {
  width: 100%;
  height: auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
#recoletaThirdSetion h2 {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  text-align: center;
}
#recoletaThirdSetion h2 span {
  font-size: 96px;
}
#recoletaThirdSetion div {
  background-image: url("/recoleta/preciosBG.png");
  background-color: #FFB9F4;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px;
  border-radius: 24px;
}
#recoletaThirdSetion div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  color: #0A001A;
}
#recoletaThirdSetion div p span {
  font-size: 32px;
  font-family: "Vastago Grotesk";
  color: #0A001A;
}

#recoletaFourthSetion {
  width: 100%;
  height: auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128px;
}
#recoletaFourthSetion h2 {
  font-size: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#recoletaFourthSetion h2 span {
  font-size: 96px;
}

#recoletaFourthSetionCardsContainer {
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: center;
}
#recoletaFourthSetionCardsContainer article {
  width: 100%;
  max-width: 600px;
  background-color: orange;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
#recoletaFourthSetionCardsContainer article div {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
  font-size: 24px;
}
#recoletaFourthSetionCardsContainer article div path {
  color: #C6EF4C;
}
#recoletaFourthSetionCardsContainer article img {
  width: 100%;
  border-radius: 24px;
}
#recoletaFourthSetionCardsContainer article h3 {
  font-size: 48px;
  color: #0A001A;
  text-align: center;
}
#recoletaFourthSetionCardsContainer article p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}
#recoletaFourthSetionCardsContainer article p span {
  background-color: #fff;
  color: #0A001A;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1px;
  width: 100%;
}
#recoletaFourthSetionCardsContainer article p span svg {
  position: relative;
  z-index: 1;
}
#recoletaFourthSetionCardsContainer article a {
  background-color: #0A001A;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vastago Grotesk";
  src: url("/fonts/VastagoGrotesk-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
h4, h5, h6, p, a, span, li, ul, label, input, textarea, select, button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  line-height: 1;
}

h1, h2, h3 {
  font-family: "Vastago Grotesk", sans-serif;
  font-weight: 900;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
}
h1 span, h2 span, h3 span {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.button-g {
  background-color: #C6EF4C;
  color: #000;
  padding: 16px 0;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

body {
  background-color: #0A001A;
}

/*# sourceMappingURL=globals.css.map */
