// sass --watch app/sass/styles.scss app/globals.css

@use "./components/navbar";
@use "./components/footer";
@use "./components/footerMini";

@use "./sections/home/homeHeader";
@use "./sections/home/homeSecondSection";
@use "./sections/home/homeThirdSection";
@use "./sections/home/homeFourthSection";
@use "./sections/home/homeFifthSection";
@use "./sections/home/homeSeventhSection";
@use "./sections/home/homeEigthSection";

@use "./sections/sedes/sedesHeaderSection";
@use "./sections/sedes/sedesSecondSection";




@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Vastago Grotesk";
    src: url("/fonts/VastagoGrotesk-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


h4, h5, h6, p, a, span, li, ul, label, input, textarea, select, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
}

h1, h2, h3 {
    font-family: "Vastago Grotesk", sans-serif;
    font-weight: 900;
    color: #ffffff;
    line-height: 1;
    span {
        font-family: inherit;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

.button-g {
    background-color: #C6EF4C;
    color: #000;
    padding: 16px 0;
    border-radius: 40px;
    text-align: center;
    font-weight: 600;
}

body {
    background-color: #0A001A;
}