#sedesHeaderSetion {
    height: 165vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
    div {
        background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 100%;
        height: 100vh;
        border-radius: 0 0 80px 80px;

        h1 {
            color: #0A001A;
            font-size: 64px;
            text-align: center;
        }
        p {
            color: #0A001A;
            font-weight: 500;
        }
        a {
            width: 400px;
        }
    }

    article {
        background-color: green;
        width: 80%;
        height: 90vh;
        position: absolute;
        bottom: 0;
        border-radius: 40px;
    }
}